/* header in */
.header {
  width: 100%;
  height: 55px;
  background-color: #fff;
  font-size: 12px;
  line-height: 55px;
}
.header-left {
  float: left;
  width: 179px;
  height: 54px;
  color: #dadada;
  background-color: #cf1132;
}
.header-right {
  float: right;
  width: 138px;
  height: 54px;
  color: #333;
  border-left: 1px solid #dadada;
}
/* header out */
/* navgiation in */
.nav {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: url(../images/nav_back_bg_fd2505e.jpg) no-repeat center top;
}
.wrap {
  width: 1180px;
  margin: 0 auto;
}
.nav li {
  float: left;
  width: 84.2px;
  height: 70px;
}
.nav a {
  color: #fff;
  font-size: 14px;
}

.nav span {
  font-size: 12px;
  margin-left: 8px;
}
.nav li:hover > a {
  color: #000;
}
.active {
  background: url(../images/nav_bg1_d44f09d.jpg) no-repeat;
}
.active > a {
  color: #000;
}
.active span {
  margin-left: 0px;
  color: #c2a060;
}
.nav li:hover {
  background: url(../images/nav_bg1_d44f09d.jpg) no-repeat;
}
.nav li:hover span {
  color: #c2a060;
}
.nav-list-xinwenzixun {
  z-index: 10;
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 140px;
  background: url(../images/subnav_bg_5cc9309.jpg) no-repeat center 0;
}
.nav-list-shishenlu {
  z-index: 10;
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 140px;
  background: url(../images/subnav_bg_5cc9309.jpg) no-repeat center 0;
}
.nav-list-youxigonglue {
  z-index: 10;
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 140px;
  background: url(../images/subnav_bg_5cc9309.jpg) no-repeat center 0;
}
.nav-list-dashequ {
  z-index: 10;
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 140px;
  background: url(../images/subnav_bg_5cc9309.jpg) no-repeat center 0;
}
.nav-list-fanyule {
  z-index: 10;
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 140px;
  background: url(../images/subnav_bg_5cc9309.jpg) no-repeat center 0;
}
.nav-list-shitingzhongxin {
  z-index: 10;
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 140px;
  background: url(../images/subnav_bg_5cc9309.jpg) no-repeat center 0;
}
.nav-list-guanfangqudao {
  z-index: 10;
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 140px;
  background: url(../images/subnav_bg_5cc9309.jpg) no-repeat center 0;
}
.nav li:hover > .nav-list-xinwenzixun {
  display: block;
}
.nav li:hover > .nav-list-shishenlu {
  display: block;
}
.nav li:hover > .nav-list-youxigonglue {
  display: block;
}
.nav li:hover > .nav-list-dashequ {
  display: block;
}
.nav li:hover > .nav-list-fanyule {
  display: block;
}
.nav li:hover > .nav-list-shitingzhongxin {
  display: block;
}
.nav li:hover > .nav-list-guanfangqudao {
  display: block;
}
/* navgiation out */
.banner {
  height: 784px;
  top: -10px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner > img {
  position: absolute;
  left: 50%;
  margin-left: -960px;
}
